* {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}

aside {
    border: 5px;
    border-style: solid;
    border-color: lawngreen;
    width: 30vw;
    height: 70vh;
    margin-left: 5px;
}
header {
    border: 5px;
    border-style: solid;
    border-color: pink;
    width: 100vw;
    text-align: center;
    justify-content: flex-start;
    margin-left: 10px;
    padding-left: 30px;
    padding-right: 66px;

}
main {
    display: inline-block;
    border: 5px;
    border-style: solid;
    border-color: darkblue;
}

.container-forecast {
    border-style: solid;
    box-shadow: 1rem;
    border-radius: 0px 0px 5px 5px;

}